@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}

body.cuerpo{
    font-family:'Montserrat', sans-serif;
    background:#faf8f4;
    color:#222;
}

.navegacion-premium{
    position:fixed;
    top:0;
    width:100%;
    background:rgb(245, 240, 240);
    z-index:999;
    border-bottom:1px solid #eee;
    padding:25px 5%;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-text{
    position:absolute;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    align-items:center;

    gap:40px;
    white-space:nowrap;
}


.nav-text a{

    font-family:'Montserrat', sans-serif;

    font-size:16px;  
    font-weight:100;

    color:#222;

    text-transform:uppercase;

    letter-spacing:1px;

    display:block;

    transition:.3s;
}

a{
    text-decoration:none !important;
}

.nav-text a:hover{
    opacity:.6;
}

.logo-section{
    display:flex;
    align-items:center;
}

.logo-img{
    height:100px; 
    width:auto;
    object-fit:contain;
    cursor:pointer;
    transition:.3s;
}

.logo-img:hover{
    opacity:.8;
    transform:scale(1.03);
}

.nav-brand-section,
.nav-icons-section{
    display:flex;
    align-items:center;
    gap:25px;
}

.logo-text{
    font-family:'Cormorant Garamond', serif;
    font-size:38px;
    letter-spacing:5px;
    color:black;
    cursor:pointer;
}

.btn-nav{
    background:none;
    border:none;
    font-size:14px;
    letter-spacing:1px;
    color:#555;
    cursor:pointer;
}

.search-input{
    width:420px;
    border:none;
    border-bottom:1px solid #ccc;
    padding:10px;
    outline:none;
    background:transparent;
}

.nav-icons-section a,
.user-name{
    color:#333;
    font-size:25px;
    transition:.3s;

}

.nav-icons-section a:hover,
.user-name:hover{
    opacity:.6;
}

.dropdown-custom,
.user-menu-custom{
    position:relative;
}

.dropdown-content{
    position:absolute;
    top:140%;
    left:0;
    min-width:220px;
    background:white;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    opacity:0;
    visibility:hidden;
    transition:.3s;
}

.dropdown-content a{
    display:block;
    padding:14px;
    color:#333;
    font-size:14px;
}

.dropdown-content a:hover{
    background:#f7f7f7;
}

.dropdown-custom:hover .dropdown-content,
.user-menu-custom:hover .dropdown-content{
    opacity:1;
    visibility:visible;
}

.carruselVideo{
    width:100%;
    margin-top:150px;

    display:flex;
    justify-content:center;

    overflow:hidden;
}

.carruselItem{

    width:85%;     
    height:450px;

    object-fit:cover;

    display:block;

    border-radius:20px;
}


.textoNavegacion{
    position:absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
    color:rgba(3, 65, 16, 0.938);
}

.textoNavegacion h1{
    font-family:'Cormorant Garamond', serif;
    font-size:85px;
    font-weight:500;
    margin-bottom:15px;
}

.textoNavegacion p{
    font-size:20px;
    letter-spacing:2px;
}

.carrusel-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    width:50px;
    height:50px;
    cursor:pointer;
    font-size:30px;
}


.coleccion{
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:60px;
    font-weight:500;
    margin-top:120px;
    letter-spacing:2px;
}

.hero-slider{

    width:90%;

    height:400px;

    margin:90px auto 90px auto;

    position:relative;

    overflow:hidden;
}

.slider{

    width:60%;
    height:100%;

    position:relative;
}


.slide{

    position:absolute;
    inset:0;

    opacity:0;
    visibility:hidden;

    transition:.8s ease;
    font-size: 20px; 
    display:flex;

    justify-content:center;
    align-items:center;
}


.slide.active{

    opacity:1;

    visibility:visible;
}

.slide img{

    width:70%;

    height:420px;

    object-fit:contain;

    display:block;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

    background:white;

    position:relative;

    left:60px;
}

.slide-content{

    position:absolute;

    top:50%;
    left:110%;

    transform:translateY(-50%);

    color:black
}

.contenedorProductos{
    width:88%;
    margin:auto;
    padding:80px 0;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
}

.card{
    background:white;
    color:#222;
    border:none;
    box-shadow:0 5px 20px rgba(0,0,0,.04);
    padding:40px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-8px);
}

.icono{
    font-size:40px;
    margin-bottom:20px;
}

.card h6{
    font-family:'Cormorant Garamond', serif;
    font-size:28px;
    margin-bottom:15px;
}

.card p{
    color:#777;
    margin-bottom:20px;
}

.card button{
    border:1px solid black;
    background:white;
    padding:12px 30px;
    cursor:pointer;
    font-size:13px;
    letter-spacing:1px;
    transition:.3s;
}

.card button:hover{
    background:black;
    color:white;
}

.titulo{
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:60px;
    font-weight:500;
    margin-top:40px;
    letter-spacing:2px;
}

#contador{
    font-size:12px;
    margin-left:3px;
}

@media(max-width:768px){

    .nav-container{
        flex-direction:column;
        gap:20px;
    }

    .search-input{
        width:100%;
    }

    .textoNavegacion h1{
        font-size:45px;
    }

}

.footer-dunaka{

    margin-top:100px;

    background:#f5f0f0;

    padding:80px 20px;

    text-align:center;
}


.footer-dunaka h2{

    font-family:'Cormorant Garamond', serif;

    font-size:42px;

    margin-bottom:10px;

    letter-spacing:4px;
}


.footer-dunaka p{

    color:#666;

    font-size:14px;
}

.redes-sociales{

    margin:35px 0;

    display:flex;

    justify-content:center;

    gap:30px;
}

.redes-sociales a{

    color:#222;

    font-size:28px;

    transition:.3s;
}

.redes-sociales a:hover{

    transform:translateY(-4px);

    opacity:.6;
}

.copyright{

    margin-top:30px;

    font-size:13px;

    color:#999;
}


.sobre-dunaka{

    width:88%;

    margin:120px auto;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:60px;
}

.sobre-imagen{

    width:50%;
}

.sobre-imagen img{

    width:100%;

    height:500px;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.10);
}

.sobre-card{

    width:45%;

    background:white;

    padding:50px;

    border-radius:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.06);
}


.subtitulo{

    font-size:14px;

    letter-spacing:3px;

    text-transform:uppercase;

    color:#999;
}


.sobre-card h2{

    font-family:'Cormorant Garamond', serif;

    font-size:55px;

    margin:15px 0 25px 0;
}


.sobre-card p{

    font-size:16px;

    line-height:1.9;

    color:#666;

    margin-bottom:20px;
}

.btn-dunaka{

    display:inline-block;

    margin-top:15px;

    padding:14px 35px;

    border:1px solid black;

    color:black;

    font-size:13px;

    letter-spacing:2px;

    text-transform:uppercase;

    transition:.3s;
}

.btn-dunaka:hover{

    background:black;

    color:white;
}

/* CONTENEDOR GENERAL */
.menuPerfil {
    display: flex;
    height: 100vh;
    font-family: Arial;
}

/* MENÚ IZQUIERDO */
.menuLateral {
    width: 220px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuLateral a {
    text-decoration: none;
    color: #333;
}

.menuLateral a:hover {
    color: black;
    font-weight: bold;
}

/* CONTENIDO */
.contenidoPerfil {
    flex: 1;
    padding: 30px;
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* CARTAS */
.cartas {
    display: flex;
    gap: 20px;
}

/* CARD */
.card {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    text-decoration: none;
    color: black;

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;

    width: 260px;   /* puedes subirlo un poquito */
    min-height: 120px; /* opcional */

    background-color: white;
    transition: 0.3s;
}

/* ICONO */
.icono {
    font-size: 25px;
}

/* TEXTO */
.texto h3 {
    margin: 0;
    font-size: 16px;
}

.texto p {
    margin: 5px 0 0;
    font-size: 14px;
    color: gray;
}

/* HOVER */
.card:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}

.login-container {
    max-width: 400px;
    margin: 150px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}   

.boton {
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formularioRegistro {
    max-width: 400px;
    margin: 150px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    
}   