
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    body {
    background: #f5f5f5; 
    font-family: Arial;
    position: relative;
}
.cuerpo{
        background: linear-gradient(to bottom, #ffe600, #ffffff);

}
    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    background-color: #000000;
        padding: 30px 20px;
        color: white;
    }

      .navegacionIzquierda{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .navegacionIzquierda a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .navegacionIzquierda a:hover {
        color: #ffe600;
    }

    .logo {
        font-weight: bold;
    }

    .navegacionCenter {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navegacionCenter input {
        padding: 6px;
        border-radius: 4px;
        border: none;
        width: 200px;
    }

    .categorias {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 6px 10px;
        cursor: pointer;
    }

    .categorias:hover {
        background-color: #333;
    }

    /* Lado derecho */
    .navegacionDerecha {
        font-size: 14px;
    }

    .user {
        cursor: pointer;
    }

    .productos {
        cursor: pointer;
    }   

    .contenedorProductos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;   
    
    }

    .cartasContenedor {
    background: #e9e9e9;
    width: 250px;
    min-height: 40px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    
        }
    h6{
        text-align: left;
        margin-bottom: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
    .cartasContenedor img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #ddd; 
    padding: 10px; 
    background: white; 
    display: block;
    margin: 0 auto; 
    }
    .carrusel {
    position: relative;
    overflow: hidden;
    height: 500px;
    }

    .carruselFoto {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    }

    /* CADA SLIDE */
    .carruselItem {
    min-width: 100%;
    position: relative;
    }

    .carruselItem img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(70%);
    }

    /* TEXTO ENCIMA */
    .textoNavegacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    }

    .textoNavegacion h1 {
    font-size: 3rem;
    font-weight: bold;
    }

    .textoNavegacion p {
    font-size: 1.2rem;
    }

    /* BOTONES */
    .carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    }

    .carrusel-btn.anterior {
    left: 10px;
    }

    .carrusel-btn.siguiente {
    right: 10px;
    }

    .carrusel-btn:hover {
    background: rgba(0,0,0,0.8);
    }

    .carrusel-btn.anterior { left: 10px; }
    .carrusel-btn.siguiente { right: 10px; }

    .menuArriba {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .menuArribamenu  {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        min-width: 150px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1000;
    }
  
    .menuArribamenu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .menuArribamenu a:hover {
        background-color: #f2f2f2;
    }

    /* Mostrar el menú al pasar el mouse */
    .menuArriba:hover .menuArribamenu  {
        display: block;
    }
    .navegacionUsuario {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .navegacionUsuariomenu {
        display: none;
        position: absolute;
        right: 0; 
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1000;
    }

    .navegacionUsuariomenu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .navegacionUsuariomenu a:hover {
        background-color: #f2f2f2;
    }

    /* Mostrar menú */
    .navegacionUsuario:hover .navegacionUsuariomenu {
        display: block;
    }           
    .carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    }

    .carrusel-btn.prev { left: 10px; }
    .carrusel-btn.next { right: 10px; }

    .carrusel-btn:hover {
    background: rgba(0,0,0,0.8);
    }

/* CONTENEDOR GENERAL */
.menuPerfil {
    display: flex;
    height: 100vh;
    font-family: Arial;
}

/* MENÚ IZQUIERDO */
.menuLateral {
    width: 220px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuLateral a {
    text-decoration: none;
    color: #333;
}

.menuLateral a:hover {
    color: #000;
    font-weight: bold;
}

/* CONTENIDO */
.contenidoPerfil {
    flex: 1;
    padding: 30px;
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* CARDS */
.cartas{
    display: flex;
    gap: 20px;  
}

.card{
   display: flex;
    align-items: flex-start;
    gap: 15px;

    text-decoration: none;
    color: black;

    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    height: 200px;

    background-color: white;
    transition: 0.3s;
}  


.icono {
    font-size: 25px;
}
.texto h6 {
    margin: 0;
}
.texto h3 {   
     margin: 0;    
     font-size: 16px;
    }

.texto p {
    margin: 5px 0 0;
    font-size: 14px;
    color: gray;
}
    
.card:hover {   
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);   
     transform: translateY(-3px);

}

.card button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #ffe600;
    cursor: pointer;
}

.carrito, .favoritos, .micompra {
    display: flex;
    align-items: center;
}

.carrito a,
.favoritos a,
.micompra a {
    text-decoration: none;
    color: white;
    font-size: 14px;

    padding: 8px 12px;
    border-radius: 8px;

    transition: 0.3s;
}

/* HOVER (efecto bonito) */
.carrito a:hover,
.favoritos a:hover,
.micompra a:hover {
    background-color: #333;
    transform: translateY(-2px);
}

/* SEPARACIÓN ENTRE ELLOS */
.carrito,
.favoritos,
.micompra {
    margin-left: 10px;
}
.carritoContenedor {
    text-align: center;
    margin-top: 100px;
}

.botonAtras {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.botonAtras:hover {
    background-color: gray;
}
body.pagCarrito {
    background:white    ;
    font-family: Arial;
}
.contenedor {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards {
    width: 250px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;
}

.cards img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.comprar {
    background-color: red;
    color: white;
}
.cards:hover {
    border: 1px solid #bbb;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}
.resumenCompra {
    width: 250px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;

    position: absolute;
    top: 10px;
    right: 10px;
}

.resumenCompra:hover {
    border: 1px solid #bbb;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}